<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="corefx" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="moq" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json"/>
    <add key="dotnet-test-xunit" value="https://www.myget.org/F/coreclr-xunit/api/v3/index.json" />
    <add key="Microsoft.DotNet.Cli" value="https://dotnet.myget.org/F/dotnet-cli/api/v3/index.json" />
  </packageSources>
</configuration>
